<div class="container">
  <div class="row mt-4">
    <div class="col-md-3 profile">
      <section>
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <img class="img-profile" src="{{image}}">
          </div>
          <div class="col-md-12 d-grid align-items-center">
            <div>
              <h1>Phisitphod Sopaporn</h1>
              <h4>Front-end Developer</h4>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <div class="col-md-12">
            <h5>Contact</h5>
            <p><i class="bi bi-phone"></i> Phone : 065-5416253</p>
            <p><i class="bi bi-envelope"></i> Email : phisitphod@gmail.com</p>
            <p><i class="bi bi-pin-map"></i> Address : 59/77 Bang Krasor Mueang Nonthaburi Nonthaburi 11000</p>
          </div>
        </div>
      </section>

      <section>
        <div class="row">
          <div class="col-md-12 ">
            <h5>Education</h5>
            <b>2022 : Bachelor's degree</b>
            <p class="m-0"> Bachelor of Engineering (Electronics Engineering Technology)</p>
            <p> King Mongkut's University of Technology North Bangkok</p>
            <b>2015 : High School</b>
            <p> Rajsima witthayalai school </p>
          </div>
        </div>
      </section>
    </div>

    <div class="col-md-9">
      <section>
        <div class="row shadow">
          <div class="col-md-12 p-4">
            <h5>
              Looking for The job is interesting and challenging. For emerging
              their own abilities Learn new jobs based on modern technology.
              to increase job opportunities.
            </h5>
            <div class="line"></div>
          </div>
        </div>
      </section>
      <section>
        <div class="row shadow">
          <div class="col-md-12">
            <h3>
              <li>Experience</li>
            </h3>
            <div class="line"></div>
          </div>
          <div class="col-md-3 p-2">
            <p>Jan 2022 - May 2023</p>
          </div>
          <div class="col-md-9 p-2">
            <p>Adev Solution Plus</p>
            <b>Front-end Deverloper</b>
            <li>Create HTML based on UI design.</li>
            <li>Create functions based on requirement.</li>
            <li>Connect API between web and database</li>
            <li>Unit testing work Local development/UAT</li>
            <li>Write Query Select on HeidiSQL</li>
          </div>
          <div class="line"></div>
          <div class="col-md-3 p-2">
            <p>May 2023 - Now</p>
          </div>
          <div class="col-md-9 p-2">
            <p>Yarrow Company Limited</p>
            <b>Front-end Deverloper</b>
            <li>Create HTML based on UI design.</li>
            <li>Create functions based on requirement.</li>
            <li>Connect API between web and database</li>
            <li>Unit testing work Local development/UAT</li>
            <li>Write Query Select on HeidiSQL</li>
          </div>
        </div>
      </section>
      <section>
        <div class="row shadow">
          <div class="col-md-12 ">
            <h3>
              <li>Expertise</li>
            </h3>
            <div class="line"></div>
          </div>
          <div class="col-md-3 p-2"></div>
          <div class="col-md-9 p-2">
            <li>
              <img class="Expertise"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/2048px-HTML5_logo_and_wordmark.svg.png"
                alt="">
              HTML
            </li>
            <li>
              <img
              class="Expertise"
              src="https://cdn.freebiesupply.com/logos/large/2x/css3-logo-png-transparent.png" alt="">
              CSS</li>
            <li>
              <img 
              class="Expertise"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" alt="">
              Angular</li>
            <li>
              <img 
              class="Expertise"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/2048px-Typescript_logo_2020.svg.png" alt="">
              Typescript</li>
            <li>
              <img
              class="Expertise"
               src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/HeidiSQL_logo_image.png/800px-HeidiSQL_logo_image.png" alt="">
              HeidiSQL</li>
            <li>
              <img
              class="Expertise"
               src="https://w7.pngwing.com/pngs/441/460/png-transparent-postgresql-plain-wordmark-logo-icon-thumbnail.png" alt="">
              PostgreSQL</li>
            <li>
              <img
              class="Expertise"
              src="https://w7.pngwing.com/pngs/63/19/png-transparent-mongodb-database-nosql-postgresql-mongo-text-logo-business-thumbnail.png" alt="">
              MongoDB</li>
            <li>
              <img
              class="Expertise"
               src="https://seeklogo.com/images/N/nestjs-logo-09342F76C0-seeklogo.com.png" alt="">
              NestJS</li>
            <li>
              <img
              class="Expertise"
               src="https://img.uxwing.com/wp-content/themes/uxwing/download/brands-social-media/postman-icon.png" alt="">
              Posman</li>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>