<div class="container">
  <section>
    <div class="row mt-5">
      <div class="col-md-3 p-4 card">
        <img class="img-profile" src="../assets/image/img-profile.jpg">
      </div>
      <div class="col-md-9  card">
        <h1>Phisitphod Sopaporn</h1>
        <h4>Front-end Developer</h4>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-12 p-4">
        <h5>
          Looking for The job is interesting and challenging. For emerging
          their own abilities Learn new jobs based on modern technology.
          to increase job opportunities.
        </h5>
        <div class="line"></div>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-12">
        <h3><li>Experience</li></h3>
        <div class="line"></div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-10 p-2">
        <p>Jan 2022 - May 2023</p>
        <p>Adev Solution Plus</p>
        <b>Front-end Deverloper</b>
        <li>Create HTML based on UI design.</li>
        <li>Create functions based on requirement.</li>
        <li>Connect API between web and database</li>
        <li>Unit testing work Local development/UAT</li>
        <li>Write Query Select on HeidiSQL</li>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-10 p-2">
        <div class="line"></div>
        <p>May 2023 - Now</p>
        <p>Yarrow Company Limited</p>
        <b>Front-end Deverloper</b>
      </div>
    </div>
  </section>
</div>